.pagination{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    position: sticky;
    bottom: 0;
    right: 0;
    overflow: visible;
    background-color: white;
}

.text{
    padding: 16px;
}